
.btn-primary.override-rounded{
    border-radius: 20px;
    width: 100%;
}
.list-group-item.override-color{
    color: white;
    background-color: black;
}
.wd-search-tuiter{
    bottom: 10px;
    left: 15px;
}
