body{
    padding-left: 16px;
    background-color: black;

}
.wd-title-container{
    border-color: #2f3336;
    border-style: solid;
    border-top-width: 0px;
}
.wd-Title{
    color:white;
    font-size: 20px;
    padding-left: 16px;
}
.wd-handful{
    padding-left: 16px;
    color: lightgray;
    font-size: 13px;
    padding-bottom: 12px;
}
.wd-avatar{
    border-radius: 50%;

    height: 48px;
    width: 48px;
    vertical-align: top;
    display: inline-block;
}
.wd-content-container{
    padding-top: 12px;
    padding-left: 16px;
    border-color: #2f3336;
    border-style: solid;
    border-bottom-width: 0px;
}
.wd-user{
    padding-top: 12px;
    padding-left: 12px;
    color: white;
    font-size: 15px;
}
.wd-user-handle{
    color: lightgray;
    font-size: 15px;
}
.wd-avatar-container{
    width: 48px;
    display: inline-block;
    vertical-align:top;
}
.wd-content{
    padding-bottom: 12px;
    padding-left: 12px;
    max-width: 506px;
    display: inline-block;
}
.wd-user-content{
    display: inline-block;
    color: white;
    font-size: 15px;

}
.wd-main-content-img{
    width: 504px;
    height: 264px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: #2f3336;
    border-style: solid;
    border-top-width: 0px;
}
.wd-main-content{
    display: inline-block;
}

.wd-main-title-container{
    border-color: #2f3336;
    border-style: solid;
    display: inline-block;
    width: 506px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.wd-main-title-font{
    color: white;
    font-size: 15px;
    padding: 12px;
    max-width: 506px;
}
.wd-main-content-font{
    display: block;
    color: lightgray;
    font-size: 15px;
    padding: 12px;
}
.wd-inline-block{
    height: 48px;
    width: 48px;
    display: inline-block;
}
.wd-icons-container{
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-bottom: 12px;
}
.wd-grey-icon{
    color: lightgray;
    padding-right: 12px;
}
.wd-grey-text{
    color: lightgray;
    font-size: 15px;
}
.wd-icons-box{
    display: inline-block;
    justify-content: space-between;
}